/* Общие стили */
body {
    font-family: 'Inria Sans', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;

}
/* Стили для шапки */
header {
    background-image: url('../assets/images/photoSlider.png');
    background-size: cover;
    color: #fff;
    background-position: center;
    width: 100%;
    height: 500px;
}
/*Логотип и заголовок страницы */
.logo {
    margin: 1rem ;
    width: 223px;
    height: auto;
}
.header-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 57.55px;
    letter-spacing: 5%;
    text-align: center;
    color: #fff;
}
.menu{
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 20px 30px;
    background-color: #FFFAFA;
    color: #000;
    border: 1px solid #000;
    border-radius: 50px;
    font-size: 16px;
}
/* Стили для основного контента */
section {
    background-color: #FFFAFA;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: justify;
    margin: 2rem;
    font-size: 20px;
}

/*Посилання на план роботи*/
.link-plan-work {
    padding: 0;
    margin: 0;
}
.link-plan-work a{
    display: flex;
    justify-content: center;
    padding: 10px 32px 7px 32px;
    background: #DEB887;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
/*Посилання на план школи*/
.link-plan-school {
    display: flex;
    justify-content: space-around;
    background: #F2EEE9;
    padding: 0 50px;
    margin: 0;
}
.link-plan-school a{
    padding: 10px 32px 7px 32px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

/*Зображення творчіх слов*/
.photo-art img {
    display: block;
    margin: 2rem auto 2rem auto;
    width: 1000px;
    height: auto;
}

/*Види занять*/
.types-class {
    padding: 0;
    margin: 0;
}
.types-class a{
    display: flex;
    justify-content: center;
    padding: 10px 32px 7px 32px;
    background: #DEB887;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

/*Зображення творчі люди*/
.art-people img {
    display: block;
    margin: 2rem auto 2rem auto;
    width: 1000px;
    height: auto;
}

/*Навчально методичний комплекс*/
.method-complex {
    padding: 0;
    margin: 0;
}
.method-complex a{
    display: flex;
    justify-content: center;
    padding: 10px 32px 7px 32px;
    background: #F2EEE9;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

/*Мотоди навчання*/
.teach-method {
    display: flex;
    justify-content: space-around;
    background: #DEB887;
    padding: 0 50px;
    margin: 0 0 100px 0;
}
.teach-method a{
    padding: 10px 32px 7px 32px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}


